.component{
  /* background-color: yellowgreen; */
  width: 50vw;
  margin: auto;
}
.add{
  text-align: center;
  /* background-color: red; */
}
*{
  color: #000;
  font-weight:800;
  text-align: left;
}